#top-menu.nav {
	.current-menu-item > a, .current-menu-parent > a {
		color: $common-primary-color !important;
	}

	.sub-menu {
		width: 300px; // stylelint-disable-line unit-whitelist

		li {
			width: 100%;

			a {
				width: 100%;
				padding-right: 0;
				padding-left: 0;
				color: $common-text-var2-color;

				&:hover {
					background-color: $common-primary-color;
				}
			}
		}
	}
}

@media #{bp(medium down)} {
	#main-header {
		top: 67px; // stylelint-disable-line unit-whitelist
	}
}
