//-------------------------------------
//-- Site - Base
//-------------------------------------

//-- Base
html {
	background-color: $common-bg-site-color;
}

a:not(.button) {
	color: $common-link-color;
	text-decoration: none;
	transition: color $common-hover-transition ease-out;

	&:hover, &:active, &:focus {
		color: $common-link-hover-color;
		text-decoration: underline;
	}
}




::selection {
	background-color: $common-text-color;
	color: $common-bg-color;
}


//-- Header
.header {
	/* ... */
}


//-- Fixed navigation
.fixed-nav {
	/* ... */
}


//-- Main navigation
.main-nav {
	/* ... */
}


//-- Body
body {
	visibility: visible;

	//-- Foundation media exceptions
	@media #{bp(small only)} {
		/* ... */
	}

	@media #{bp(medium)} {
		/* ... */
	}

	@media #{bp(medium down)} {
		/* ... */
	}

	@media #{bp(medium only)} {
		/* ... */
	}

	@media #{bp(large)} {
		/* ... */
	}

	@media #{bp(large down)} {
		/* ... */
	}

	@media #{bp(large only)} {
		/* ... */
	}



	//-- Apply only when document is loaded (great for heavy imagery)
	#{$nwayo-docloaded-selector} & {
		/* ... */
	}

	//-- Only on touch devices
	html[data-whatintent='touch'] & {
		/* ... */
	}

	//-- Only on mouse devices
	html[data-whatintent='mouse'] & {
		/* ... */
	}

	//-- Hover only on mouse devices :)
	a {
		#{$nwayo-hover-selector} {
			/* ... */
		}
	}

	#et-main-area .et_pb_button.et_pb_bg_layout_light {
		padding-right: 1em !important;
		padding-left: 1em !important;
		border: common-border($color:$common-border-alt-color);
		background: transparent;
		color: $common-border-alt-color;

		&::after {
			content: none;
		}

		&:hover {
			background: $common-bg-color !important;
		}
	}

}


//-- Content
.content {
	@include site-editable-styles();

	/* ... */
}


//-- Lateral column
.lateral-col {
	/* ... */
}


//-- Footer
.footer {
	/* ... */
}




