#page-container #et-main-area {
	a {
		text-decoration: underline;
	}

	.et-dropcap {
		padding: 5px 16px; // stylelint-disable-line unit-whitelist
		border-radius: common-radius(radio);
		background: $common-primary-color;
		color: $common-button-text-color;
		font-size: $common-title-bigger-size;
	}

	.et_pb_post_title {
		h1 {
			padding: 0;
			font-size: $common-title-bigger-size;
			text-transform: uppercase;

			@media #{bp(medium)} {
				font-size: $common-title-biggest-size;
			}

			@media #{bp(large)} {
				font-size: $common-title-mega-size;
			}
		}
	}

	h2 {
		padding-bottom: 0;
		margin-bottom: 1em;

		&.subtitle {
			margin-bottom: 0;
			color: $common-primary-color !important;
			font-size: $common-title-size;

			@media #{bp(medium)} {
				font-size: $common-title-big-size;
			}

			@media #{bp(large)} {
				font-size: $common-title-biggest-size !important;
			}
		}

		&.less-emphase {
			font-size: $common-text-medium-size;
		}
	}

	.et_pb_module {
		h3:not(.et_pb_module_header) {
			position: relative;
			color: $common-alt-color;

			@media #{bp(medium)} {
				&::before, &::after {
					content: '';
					position: absolute;
					top: .4em;
					width: 30%;
					height: 5px; // stylelint-disable-line unit-whitelist
					border-top: 1px solid #dee2e5; // stylelint-disable-line unit-whitelist
					border-bottom: 1px solid #dee2e5; // stylelint-disable-line unit-whitelist
					margin-left: -35%;
				}

				&::after {
					margin-left: 5%;
				}
			}
		}

		ul {
			li {
				list-style: none;

				&::before {
					content: '';
					position: relative;
					top: .9em;
					left: -1em;
					display: block;
					width: 0;
					height: 0;
					border-width: .3em 0 .3em .4em;
					border-style: solid;
					border-color: transparent $common-primary-color;
				}
			}
		}
	}

	.section-text {
		h2 {
			color: $common-base-color !important;
			font-size: $common-title-size;

			span {
				color: $common-primary-color !important;
			}

			@media #{bp(large)} {
				margin-bottom: 1em;
				font-size: $common-title-bigger-size !important;
			}
		}
	}

	.tarification {
		.et_pb_text_inner p {
			padding-bottom: 0;
		}
	}
}
