#page-container #main-header {
	@media #{bp(medium down)} {
		top: 58px; // stylelint-disable-line unit-whitelist
	}

	.et_menu_container {
		.nav li.menu-item {
			padding: 0 .5em;
			text-align: center;
		}

		.logo_container #logo {
			@media #{bp(medium down)} {
				max-width: 40%;
			}
		}

		#et_top_search {
			@media #{bp(medium down)} {
				margin: 0 1em 0 0;
			}
		}
	}
}
