.home-slider {
	h1.et_pb_module_header {
		padding: 0;
		margin: 0;
		color: $common-button-cta-text-color;
		font-size: $common-title-big-size;
		text-transform: uppercase;

		@media #{bp(large)} {
			font-size: $common-title-mega-size;
		}
	}

	span.et_pb_fullwidth_header_subhead {
		padding: 0;
		margin: 0;
		color: $common-primary-color;
		font-size: $common-title-bigger-size;
		font-weight: $common-text-fat-weight;
		text-transform: uppercase;

		@media #{bp(large)} {
			font-size: $common-title-ultra-size;
		}
	}

	span.et_pb_header_content_wrapper {
		margin-top: 1em;
	}
}
