body {
	.et_pb_accordion {
		.et_pb_accordion_item {
			margin-bottom: 0 !important;

			&:last-child {
				border-bottom: common-border($color:$common-border-alt-color);
			}

			&.et_pb_toggle_open {
				border: common-border($width:2px, $color:rgba(164, 206, 68, .75)); // stylelint-disable-line unit-whitelist

				.et_pb_toggle_content {
					color: $common-text-var2-color !important;
				}
			}
		}
	}

	.notre-equipe {
		.et_pb_team_member_image {
			max-width: 100%;

			img {
				border-radius: common-radius($type:radio);
			}
		}
	}
}
