.footer-section {
	.footer-cta {
		.et_pb_promo {
			padding-left: 0;
			text-align: center;

			@media #{bp(large)} {
				padding-left: 40px; // stylelint-disable-line unit-whitelist
				text-align: left;
			}
		}

		.et_pb_promo_description {
			padding-bottom: 0;

			h2 {
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
				font-size: $common-title-big-size;

				@media #{bp(large)} {
					font-size: $common-title-biggest-size;

				}
			}
		}
	}

	.footer-4-block {
		.et_pb_blurb, .et_pb_blurb_content {
			height: 100%;
			border: 0;
		}

		.et_pb_blurb_content {
			text-align: right;
		}

		.et_pb_main_blurb_image {
			margin-bottom: 6em;

			.et_pb_image_wrap {
				text-align: right;

				.et-pb-icon {
					padding: .75em;
					background-color: $common-text-var2-color;
					color: $common-button-secondary-bg-color;
					font-size: $common-title-size;
				}
			}
		}

		.et_pb_blurb_container {
			div, span, h3 {
				color: $common-button-secondary-bg-color;
				text-align: left;
			}

			h3 {
				&::before, &::after {
					content: none !important;
				}
			}
		}

		.et_pb_column {
			min-height: 275px; // stylelint-disable-line unit-whitelist

			#first-column {
				height: 100%;
				padding-top: 2.7em;
				padding-left: 2.5em;

				h4, p {
					color: $common-button-cta-text-color;
				}

				h4 {
					font-size: $common-title-bigger-size;
					font-weight: $common-text-slim-weight;
				}

				p {
					margin-top: 3.5em;
				}
			}
		}
	}
}
