#top-header {
	#et-info {
		span {
			display: block;

			@media #{bp(medium)} {
				display: inline-block;
			}

			&#et-info-address {
				&::before {
					content: '\e081';
					position: relative;
					top: .1em;
					margin-right: .5em;
					font-family: $common-divi-font;
					font-weight: $common-base-color;
				}
			}

			&#et-info-phone {
				margin-top: .5em;
				margin-right: 0;

				@media #{bp(medium)} {
					margin-top: 0;
					margin-left: 1em;
				}

				&::before {
					margin-right: .5em;
				}
			}
		}

	}
}
