#main-header {
	.gabick-social {
		float: left;

		@media #{bp(medium)} {
			padding: 1.625em 0;
		}

		@media #{bp(large)} {
			padding: 1.2em 0;
		}


		ul.et-social-icons {
			display: none;
			@media #{bp(medium)} {
				display: block;

				li.et-social-icon {
					margin: 0 .5em 0 0;

					a.icon {
						color: $common-button-text-color;
						font-size: $common-text-medium-size;
					}
				}
			}
		}
	}

	#et-top-navigation .mobile_menu_bar::before, #et-top-navigation .mobile_menu_bar::after {
		color: $common-button-text-color;
	}
}

.et_slide_in_menu_container .et_slide_menu_top .et-social-icons {
	display: none;
}
