//-------------------------------------
//-- Common - Config - Mixins
//-------------------------------------

//-- Button
@mixin common-button-styles($type:false, $size:false, $action:false) {
	$padding:          .5em 1.5em;
	$background-color: $common-button-cta-bg-color;
	$color:            $common-button-text-color;
	$font-size:        $common-text-base-size;
	$font-weight: 	   $common-text-fat-weight;
	$border: 		   solid 0 $common-button-border-color;

	@if $type == secondary {
		$border: 		   solid 2px $common-button-secondary-border-color;  // stylelint-disable-line unit-whitelist
		$background-color: transparent;
		$color: 		   $common-button-secondary-text-color;
	}

	@if $size == icon {
		$padding:   .75em;
		$font-size: $common-text-micro-size;
	} @else if $size == large {
		$padding:   .75em 1.5em;
		$font-size: $common-text-medium-size;
	} @else if $size == small {
		$padding:   .5em .75em;
		$font-size: $common-text-small-size;
	}
	padding: $padding;
	border: $border;
	border-radius: common-radius(default);
	background-color: $background-color;
	color: $color;
	font-size: $font-size;
	font-weight: $font-weight;
	text-transform: uppercase;
	cursor: pointer;

	&:hover, &:focus, &:active {
		$border: 		   solid 0 $common-button-border-color;
		$background-color: $common-button-cta-bg-hover-color;
		$padding: .5em 2.5em .5em 1.5em;
		$text-decoration: 	underline;
		$color: $common-button-text-color;
		@if $type == secondary {
			$border: 		   solid 2px $common-button-secondary-border-hover-color;  // stylelint-disable-line unit-whitelist
			$background-color: $common-button-secondary-bg-hover-color;
			$color: $common-button-secondary-text-hover-color;
		}
		padding: $padding !important;
		border: $border !important;
		border-radius: common-radius(default);
		background-color: $background-color !important;
		color: $color !important;
		font-size: $font-size;
		font-weight: $font-weight;
		text-transform: uppercase;
		text-decoration: $text-decoration;
		cursor: pointer;

		&::after {
			top: 5px; // stylelint-disable-line unit-whitelist
			font-size: $common-title-big-size;
		}

	}
}
